/*
Theme Name: SimplyBiz
Theme URI: http://wpcrunchy.com/our-themes/simplybiz
Description: Business portfolio type wordpress theme - best for showcasing works.
Author: akosipau
Version: 1.0
Tags: two-columns, fixed-width, custom-background, threaded-comments, sticky-post, microformats
*/


/* Reset default browser CSS.
-------------------------------------------------------------- */

@import url('library/css/reset.css');
@import url('library/css/960.css');


/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container, #sidebar, #container2, #sidebar2 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#container {
	width:620px;
}
#sidebar {
	width:300px;
}
#container2 {
	width:720px;
}
#sidebar2 {
	width:200px;
}
#footer {
	clear: both;
	width: 100%;
	margin-bottom: 100px;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url,
h3#comments-title,
h3#reply-title,
.access .menu,
.access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit]
{
	font-family: Arial, serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}



/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
.access .menu-header,
div.menu,
#header,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 960px;
}
#wrapper {
	margin-bottom:20px;
	margin-top:5px;
	background: url(library/images/8HTML_big.png) no-repeat top right;
}

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles  */
body {
	background:#dbe1e5 url(library/images/body-bg.gif) repeat-x top left;
}

body,
input,
textarea {
	color: #555;
	font-size: 15px;
	line-height: 18px;
}
hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	padding: 2px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
a:link {
	color:#4983bd;
}
a:visited {
	color:#4073b0;
}
a:active,
a:hover {
	color: #111;
	text-decoration:underline;
}

/* float element */
.left {
	float:left;
}
.right {
	float:right;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

/* Paragraph attention box */
p.note { display:block; margin:10px; padding:10px; background:#eff1e1; border:1px solid #e2e2e2; }
p.warning { display:block; margin:10px; padding:10px; background:#fffbbc; border:1px solid #e6db55; }
p.download { display:block; margin:10px; padding:10px; background:#e7f7d3; border:1px solid #66cc33; }

/* A css 3 button */
.css3_a {
	background: #333 url(library/images/overlay.png) repeat-x;
	display: inline-block;
	padding: 2px 10px 3px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

/* Separate boxes */
.separator { background:url(library/images/hbar.png) repeat-x top left; height:2px; }
.tp {
	position:absolute; top:0; left:-20px; width:659px;
}
.bm {
	position:absolute; bottom:0; left:-20px; width:659px;
}



/* =Header
-------------------------------------------------------------- */

#header {
	background:url(library/images/header-bg.gif) no-repeat top center;
	position:relative;
	padding: 40px 0 0 0;
}
#site-title {
	float:left;
	width:231px;
}
#site-description {
	float:left;
	margin-top:30px;
	padding:5px 10px 5px 20px;
	color:#999;
	font-size:16px;
	font-style:italic;
	text-shadow:#fff 0px 1px 1px;
	background:url(library/images/vbar.png) repeat-y top left;
}
#site-ads {
	width:468px;
	height:60px;
	position:absolute;
	top:30px;
	right:0;
}


/* =Menu
-------------------------------------------------------------- */

/* do not edit this part */
#access {
	background: #000;
	margin: 0 auto;
	width: 960px;
	display:block;
	float:left;
}
#access .menu-header,
div.menu {
	font-size: 13px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float:left;
	position: relative;
}
#access a {
	display:block;
	text-decoration:none;
	color:#aaa;
	padding:0 10px;
	line-height:38px;
}
#access ul ul {
	display:none;
	position:absolute;
	top:38px;
	left:0;
	float:left;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;	
}
#access ul ul ul {
	left:100%;
	top:0;
}
#access ul ul a {
	background:#333;
	height:auto;
	line-height:1em;
	padding:10px;
	width: 160px;
}
#access li:hover > a,
#access ul ul :hover > a {
	color:#fff;
	background:#333;
}
#access ul li:hover > ul {
	display:block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
}

* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
}
/* menu skin - style the nav here */
#access {
	height:50px;
	margin-bottom:15px;
	background:#4d88c1 url(library/images/nav-bg.png) repeat-x top left;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}
#access ul.sf-menu a {
	font-size:15px;
	font-weight:bold;
	font-family:Arial, FreeSans, sans;
	color:#fff;
	text-shadow:#3f72af 1px 1px 0px;
	text-transform:uppercase;
	line-height:18px;
	padding:7px 25px 7px 15px;
}
#access ul.sf-menu a:hover,
#access ul.sf-menu li:hover a {
	background:none;
	text-shadow:#30629f 1px 1px 0px;
}
#access ul.sf-menu a:hover span,
#access ul.sf-menu li:hover a span {
	text-shadow:#30629f 1px 1px 0px;
}
#access ul.sf-menu span {
	font-size:10px;
	font-weight:normal;
	color:#98d4f9;
	text-shadow:#4986c0 1px 1px 0px;
	text-transform:capitalize;
}
#access ul.sf-menu li {
	background:url(library/images/nav-li-bg.png) no-repeat top right;
}
#access ul ul {
	top:50px;
	left:-1px;
	border-right:1px solid #30629e;
}
#access ul ul li {
	background-image:none !important;
}
#access ul ul a {
	font-size:13px;
	background:#4d88c1 !important;
	border-bottom:1px solid #30629e;
	height:auto;
	line-height:1em;
	border-left:1px solid #30629e;
	border-top:1px solid #5b9bd1;
	padding:12px !important;
	font-weight:normal !important;
	text-transform:none !important;
	font-family:Georgia, "Times New Roman", Times, serif !important;
	text-shadow:#000 1px 1px 0px;
}
#access ul ul a:hover {
	background-color:#3e79b2 !important;
	border-top-color:#4d8cc2;
	border-bottom:1px solid #295692 !important;
    color: #96d2f8 !important;
}

/* =Featured Posts
-------------------------------------------------------------- */
#featured {
	position:relative;
	width:960px;
	margin:10px auto 0 auto;
	padding-bottom:50px;
	background:url(library/images/shadow.png) no-repeat 50% 100%;
}
#featured .roundabout-holder {
	list-style:none; 
	width:800px; 
	height:326px; 
	margin:0px auto;
	padding:0;
}
#featured .roundabout-moveable-item {
	width:436px;
	height:326px;  
	cursor:pointer;
	margin:0;
	padding:0;
}
#featured .roundabout-moveable-item img {
	height:100%; 
	width:100%;
	border:0;
	margin:0;
	padding:0;
}
#featured .roundabout-in-focus {
	cursor: auto;
}

/* =Content
-------------------------------------------------------------- */

#main {
	overflow: hidden;
	margin:0;
	padding: 10px 0 0 0;
	background:url(library/images/main-bg.png) repeat-y top left;
}
#main2 {
	overflow: hidden;
	margin:0;
	padding: 10px 0 0 0;
	background:url(library/images/main-bg2.png) repeat-y top left;
}
#content {
	margin-top:10px;
	margin-bottom: 0;
}
#content,
#content input,
#content textarea {
	color: #555;
	font-size: 15px;
	line-height: 20px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom:24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom:0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 15px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	margin: 0 0 20px 0;
	line-height: 1.5em;
}
#content table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #F2F7FC;
}
.hentry, .post {
	margin:0 0 20px 0;
	position:relative;
}
.home .sticky {
}
.single .hentry {
	margin: 0 0 10px 0;
}
.page-title {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color:#888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #FF4B33;
}
.entry-thumbnail {
	padding:3px;
	margin:0 0 10px 0;
	border:1px solid #ebebeb;
}
.entry-thumbnail img {
	margin:0 !important;
	padding:0 !important;
	border:0 !important;
	display:block;
}
#content .entry-title {
	color:#171615;
	font-size: 25px;
	line-height: 1.3em;
	font-weight: bold;
	margin-bottom: 0;
	font-family: 'Arial', 'FreeSans', 'sans';
	text-shadow: #fff 1px 1px 1px;
}
.entry-title a:link,
.entry-title a:visited {
	color:#000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #393b3b;
}
.entry-meta {
	font-size:12px;
	color: #aab2b7;
	line-height: 18px;
	padding:8px 0;
	clear: both;
	text-shadow:#edf1f3 1px 1px 1px;
}
.entry-meta a {
	color:#aab2b7;
	text-decoration:none;
}
.entry-meta a:hover {
	color:#868e93;
	text-decoration:underline;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 10px 0;
	text-shadow:#fff 1px 1px 1px;
}
.entry-content2 {
	clear: both;
	padding: 0 0 10px 0;
	text-shadow:#fff 1px 1px 1px;
}
.entry-summary img {
	margin-bottom:20px !important;
}
.continue_reading_link {
	margin:0 0 10px 0;
}
.tright {
	float:right;
	margin:0 !important;
}
.continue_reading_link a {
	color:#fff !important;
	text-decoration:none !important;
	background-color:#333;
}
.continue_reading_link a:hover {
	color:#fff !important;
	text-decoration:underline !important;
	background-color:#111;
}
#content .entry-summary p:last-child {
	margin-bottom: 0;
}
.entry-content fieldset {
	border: 1px solid #E7E7E7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 15px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote {
	color:#a1a1a1;
	font-style:normal;
	line-height:1.8em;
	padding:5px 10px 5px 10px;
	border-left:3px solid #dcdcdc;
	margin-bottom:15px;
	margin-left:15px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.entry-sep {
	position:absolute;
	bottom:0;
	left:-20px;
	width:659px;
	height:2px;
	background:url(library/images/hbar.png) repeat-x bottom left;
}
.page-link {
	color: #000;
	font-weight:bold;
	margin:0 0 22px 0;
	word-spacing:0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color:#333;
	font-weight:normal;
	padding:0.5em 0.75em;
	text-decoration:none;
}
.home .sticky .page-link a {
	background: #D9E8F7;
}
.page-link a:active,
.page-link a:hover {
	color: #FF4B33;
}
.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	padding: 18px 20px;
	margin-bottom:20px;
	overflow: hidden;
	clear: both;
	line-height: 20px;
	background: #c4cbd0;
	border: 1px solid #edf1f3;
	-moz-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#entry-author-info #author-avatar {
	background: #fff;
	float: left;
	margin: 0 -104px 0 0;
	padding: 11px 11px 20px 11px;
	height: 60px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 114px;
}
#entry-author-info h2 {
	color: #000;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 5px;
}
.entry-utility {
}
#content .video-player {
	padding: 0;
}
.fullpage { background:none !important; }
.fullwidth_page { width:auto !important; padding:0 !important; margin:0 !important; }

/* breadcrumb trail */
#breadcrumb {
	font-size:15px;
	padding:5px 20px 10px 20px;
	text-shadow:#fff 1px 1px 1px;
}
#breadcrumb span {
	color: #000;
	font-weight: normal;
}
#breadcrumb a {
	font-weight: normal;
	text-decoration:none;
}
#breadcrumb a:hover {
	color:#000;
	text-decoration:underline;
}
.page-title a:link,
.page-title a:visited {
	color:#888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #FF4B33;
}

/* post slider */
#post_slider {
	position:relative;
	width:610px;
	height:270px;
	margin:0 auto;
}

/* index panels */
#panels .panel, #panels2 .panel {
	width:250px;
	padding:25px 10px 25px 25px;
	background:url(library/images/panel-bg.png) repeat-y top left;
}
#panels .first, #panels2 .first { background:none; }
#panels .phead, #panels2 .phead { margin-bottom:15px; }
#panels .phead img, #panels2 .phead img { float:left; margin-right:12px; }
#panels .phead span, #panels2 .phead span { float:left; font-family:Arial, FreeSans, sans; font-weight:normal; font-size:20px; margin:0; padding:8px 0 5px 0; text-shadow:#fff 1px 1px 1px; color:#333333; }
#panels .panel p, #panels2 .panel p {
	font-size:13px;
	line-height:22px;
	text-shadow:#fff 1px 1px 1px;
}
#panels .panel .learnmore, #panels2 .panel .learnmore { color:#fff; }
.panel ul {
	list-style:none;
	margin:0 0 5px 5px;
}
.panel ul li {
	margin:0; 
	padding:3px 6px 3px 18px;
	background:url(library/images/list-bg.png) no-repeat 0 9px;
	font-size:13px;
}
.panel ul li a {
	text-decoration:none; 
}
.panel ul li a:hover {
	text-decoration:underline;
}
a.hmpglnk, a.hmpglnk:hover {
	text-decoration:none;
}

/* portfolio and panorama item */
#portfolio_page, #panorama_page {
	margin-bottom:10px;
}
#portfolio_page .item, #panorama_page .item {
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px;
	background:#FFF;
	margin-bottom:30px;
	padding:10px;
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	box-shadow:1px 1px 3px rgba(0,0,0,0.2);
	overflow:hidden;
	position:relative;
}
#panorama_page .item {
	width:200px;
	height:260px;
}
#panorama_page .special-item {
	width:680px;
	height:260px;
}
#panorama_page .special-item img {
	max-width: 680px !important;
}
#portfolio_page .item .entry-title, #panorama_page .item .entry-title {
	margin:5px 0 0 0;
	font-size:18px;
	border-bottom:1px dotted #ccc;
	text-transform:none !important;
}
#portfolio_page .item img {
	margin:0 20px 20px 0 !important;
	padding:8px 0 !important;
	border:0 !important;
}
#panorama_page .item img {
	margin:0 !important;
	padding:8px 0 0 0 !important;
	border:0 !important;
}
#panorama_page .item p {
	margin:0 !important;
	padding:8px 0 !important;
}
#portfolio_page .item .entry-content, #panorama_page .item .entry-content {
	font-size:14px;
	margin:0;
	padding:0;
}



/* Attachment pages
-------------------------------------------------------------- */

.entry-content .attachment img {
}
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}



/* Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	max-width: 620px;
}
#content .attachment img {
	max-width: 620px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
	box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:3px 6px 8px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.3);
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:0px 0px 8px 1px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
}
#content img.alignleft, 
#content img.alignright, 
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #fff;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
}
#content .wp-caption img {
	margin: 5px 5px 0;
	border:0;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 12px;
}
#content .wp-smiley {
	margin:0;
}
#content .gallery {
	margin:0 auto 10px auto;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	padding:10px;
	background: #c4cbd0;
	border: 1px solid #edf1f3;
	-moz-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#content .gallery img:hover {
	background: #afb6bb;
}
#content .gallery br+br {
	display: none;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	clear:both;
	font-size:  13px;
	line-height: 18px;
	overflow: hidden;
	color: #555;
	text-shadow:#fff 0px 1px 1px;
	padding:5px 8px;
	background-color:#c4cbd0;
	border-bottom:1px solid #b3bbc1;
}
.navigation a:link,
.navigation a:visited {
	color: #555;
	text-decoration: underline;
}
.navigation a:active,
.navigation a:hover {
	color: #000;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	width: 50%;
	text-align:right;
}
#nav-above {
	display: none;
	margin: 0 0 10px 0;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: 0 0 0 0;
}

/* =Pagenavi ( http://wordpress.org/extend/plugins/wp-pagenavi/ )
-------------------------------------------------------------- */
.wp-pagenavi { 
	clear:both;
	margin-bottom:20px;
	text-shadow:#fff 1px 1px 1px;
}
.wp-pagenavi a, .wp-pagenavi a:link { 
	padding: 5px 7px; 
	text-decoration: none; 
	color: #111;
	background: #c4cbd0;
	border: 1px solid #edf1f3;
}
.wp-pagenavi a:visited { 
	padding: 5px 7px; 
	text-decoration: none; 
	color: #413f36;
	background: #c4cbd0;
	border: 1px solid #edf1f3; 
}
.wp-pagenavi a:hover { 
	color: #FFF;
	background: #c4cbd0;
	border: 1px solid #edf1f3 !important;
	text-shadow:#000 1px 1px 1px;
}
.wp-pagenavi a:active { 
	padding: 5px 7px; margin: 2px; 
	text-decoration: none;  
	color: #413f36; 
	background-color: #b3babf; 
}
.wp-pagenavi span.pages { 
	padding: 5px 7px; 
	color: #111;
	background: #c4cbd0;
	border: 1px solid #edf1f3;
}
.wp-pagenavi span.current { 
	padding: 5px 7px; 
	font-weight: bold; 
	color: #FFF;
	background: #c4cbd0;
	border: 1px solid #edf1f3 !important;
	text-shadow:#000 1px 1px 1px;
}
.wp-pagenavi span.extend { 
	padding: 5px 7px; 
	color: #FFF; 
	background: #c4cbd0;
	border: 1px solid #edf1f3 !important;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
	position:relative;
	margin-top:10px;
	padding:20px 10px 0 10px; 
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color:#444;
	font-size: 22px;
	margin:0;
	font-weight:normal;
	line-height:28px;
	padding:0 0 10px 0;
	text-shadow:#fff 1px 1px 1px;
}
.commentlist {
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
}
.commentlist ul.children { 
	margin:20px 0 0 20px;
	padding:0 0 0 10px;
	list-style:none;
}
.commentlist ul.children li { 
	border-left:3px solid #bde0e6;
}
.commentlist li.comment {
	margin:0; 
	padding:10px 10px 20px 10px;
	border-bottom:1px solid #e3e3e3;
	position: relative;
}
.commentlist li:last-child {
	border-bottom:none;
	margin-bottom:0;
}
#comments .comment-body {
	padding-top:10px;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}

.comment-avatar {
	float:left;
	padding:3px;
	border:1px solid #e5e5e5;
	display:block;
}
.comment-avatar img {
	display:block;
}
.comment-author {
	display:block;
	padding:6px 0;
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
	padding-left:10px;
	float:left;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	margin-bottom: 18px;
	padding-top:18px;
	padding-bottom: 18px;
	border:0;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	font-size: 18px;
	line-height: 18px;
	display:block;
	margin: 0;
}
#comments .pingback .url {
	font-style: italic;
	font-size: 18px;
}



/* Comments form */
#respond_intro p { 
	color: #444;
	margin:0 0 15px 0;
	padding:0;
	font-size:22px;
	text-shadow:#fff 1px 1px 1px; 
}
#respond_intro p a:hover { text-decoration: underline; }
#cancel-comment-reply-link {
	display:block;
	margin-bottom:15px;
}
.login_alert { background: #f5f5f5; border: 1px solid #ddd; }
.login_alert p { font-weight: bold; }
.login_alert p a:hover { text-decoration: underline; }
.comment_moderated { font-weight: bold; }
#commentform label { text-shadow:#fff 1px 1px 1px; }
#commentform textarea { width:98%; }
#commentform input[type=text] { width:50%; margin-right:10px; }
#commentform input[type=text], #commentform textarea {
	font-size: 1em;
	color: #444;
	padding:5px;
	background: #c4cbd0; 
	border: 1px solid #dee3e7;
	border-right:0;
	border-bottom:0;
}
#commentform input[type=text]:focus, #commentform textarea:focus { 
	background: #fff; 
	border-color: #777; 
	border-right-color: #ccc; 
	border-bottom-color: #ccc; 
}
#commentform p { margin-bottom: 1em; }
#commentform p a { text-decoration: underline; }
#commentform p a:hover { text-decoration: none; }
#commentform p .required { color: #d00; }
#commentform span.allowed { 
	display: block; 
	color: #807e70; 
	background: #f9f7e4; 
	border-style: dotted; 
	border-color: #bbb; 
}
#commentform span.allowed span { display: block; }
/* Support for the highly-recommended Subscribe to Comments Plugin */
#commentform p.subscribe-to-comments label { font-size: 1em; }
#commentform .form_submit { border:0; background-color:#222; color:#fff; }

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
#widget_search .widget-content {
	padding-top:15px !important;
	padding-bottom:15px !important;
}
#widget_search #s { /* This keeps the search inputs in line */
	width:178px;
	padding:8px;
	font-size: 1em; 
	color: #444; 
	background: #eee; 
	border: 1px solid #aaa; 
	border-right-color: #ddd; 
	border-bottom-color: #ddd;
}
#widget_search .no_button {
	width:245px !important;
}
#widget_search .search_button {
	padding:8px;
}
#widget_search label {
	display:none;
}
.widget-container {
	width:294px;
	padding:0;
	margin: 0 0 10px 0;
}
.widget-content {
	padding:5px 0px 15px 15px;
	background:url(library/images/hbar.png) repeat-x bottom left;
}
.textwidget {
	padding:5px 0 10px 0;
}
.widget-title {
	color: #222;
	font-weight:normal;
	font-size:18px;
	text-shadow:#FFF 1px 1px 1px;
	padding:12px 15px 12px 15px;
}
.widget-area a:link,
.widget-area a:visited {
	color:#555;
	text-shadow:#fff 1px 1px 1px;
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	color:#111;
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width:100%;
}
#wp-calendar caption {
	font-weight: bold;
	color: #222;
	text-align: left;
	font-size:14px;
	padding-bottom: 4px;
}
#wp-calendar thead {
	font-size:11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	padding: 3px 0 2px;
	background: #f5f5f5;
	border:1px solid #fff;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #FF4B33;
}
.widget_rss .widget-title img {
	height: 11px;
	width: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin:0;
	padding:0;
	list-style:none;
}
#main .widget-content ul {
	margin:0 0 5px 5px;
}
#main .widget-content ul li {
	margin:0; 
	padding:3px 3px 3px 18px;
	background:url(library/images/list-bg.png) no-repeat 0 9px;
}
#main .widget-content ul li a {
	text-decoration:none; 
}
#main .widget-content ul li a:hover {
	text-decoration:underline;
}
#main .widget-content ul ul {
	border: none;
	padding: 0;
	margin:0;
}
#main .widget-content ul ul li {
	border-bottom:0;
	margin:0 0 0 18px;
	padding-left:0;
	padding-bottom:0;
	list-style-type:square;
	background-image:none;
}
#main .widget-content ul ul ul li {
	margin-left:18px;
}
#main .widget-content ul ul li a {
	background:none; 
	padding:0 !important;
	margin:0 !important;
}
#main .widget-content ul ul li a:hover {
	background:none;
}

/* Newspress subscription widget */
#site_social_subscription .widget-content {
	
}
#site_social_subscription .subscription_link img {
	float:left;
	margin-right:10px;
}
#site_social_subscription .subscription_link span {
	display:block;
	padding-top:12px;
}
#site_social_subscription .subscription_link span a {
	font-size:24px;
	font-weight:normal;
	color:#111;
	text-shadow:#fff 1px 1px 1px;
}


/* =Footer
-------------------------------------------------------------- */

#footlinks {
	padding: 20px;
}
#footer {
	background:url(library/images/hbar.png) repeat-x top left;
}
#colophon {
}
#site-generator {
	padding:8px 5px;
	text-shadow: #fff 1px 1px 1px;
}
#site-generator span {
	display:block;
	padding:5px 0;
	text-align:center;
}
#site-generator span.sp2 {
	color:#999;
	font-size:12px;
	font-style:italic;
	text-shadow:#fff 0px 1px 1px;
}
#site-generator a {
	color:#525252;
}
#site-generator span.sp2 a {
	color:#999;
}

/* =Extras
-------------------------------------------------------------- */
.area11 {
	text-align:center;
	margin-top:100px;
	color:#111;
	font-size:22px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow:#fff 1px 1px 1px;
}
.pagination {
position:relative;
font-size:11px;
line-height:13px;
text-shadow:none;
}
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff !important;
background: #555;
}
.pagination a:hover{
color:#fff;
background: #3279BB;
}
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

/* Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
.access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}

/* Diagrams
-------------------------------------------------------------- */
ul.disp_diagram {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}
ul.disp_diagram li {
	display: inline;
	float: left;
	margin: 0 10px 30px 10px;
	padding: 8px;
	position: relative;
}
ul.disp_diagram li div.content {
	background: white;
	padding: 10px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	overflow: hidden;
	width: 150px;
	height: 220px;
	font-size: 13px;
}
ul.disp_diagram li div.d_img {
	text-align: center;
}
ul.disp_diagram li strong {
	font-size: 15px;
}
.number {
	background-image: url(library/images/numbers.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: -8px;
	left: -8px;
}
.no1 { background-position: 0 0; }
.no2 { background-position: 0 -50px; }
.no3 { background-position: 0 -100px; }
.no4 { background-position: 0 -150px; }
.no5 { background-position: 0 -200px; }
.no6 { background-position: 0 -250px; }
.no7 { background-position: 0 -300px; }
.no8 { background-position: 0 -350px; }
.no9 { background-position: 0 -400px; }

/* Clear Floated Elements
-------------------------------------------------------------- */

/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

#slideContainer { height:240px; overflow:auto; position: relative; margin: 0; }
#slideContainer .slide { margin:0 auto; height:240px; }
#slideContainer .control { display:block; width:39px; height:240px; text-indent:-10000px; position:absolute; cursor: pointer; }
#slideContainer #leftControl { top:195px; left:8px; background:transparent url("library/images/icoLeft.png") no-repeat 0 0; }
#slideContainer #playControl { top:195px; left:0; background:transparent url("library/images/icoPlay.png") no-repeat 0 0; display: none; }
#slideContainer #pauseControl { top:195px; left:0; background:transparent url("library/images/icoPause.png") no-repeat 0 0; }
#slideContainer #rightControl { top:195px; right:0; background:transparent url("library/images/icoRight.png") no-repeat 0 0; }

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}

/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background:none !important;
	}
	#wrapper {
		float: none !important;
		clear: both !important;
		display: block !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		margin: 0;
		padding:0;
		line-height: 1.4em;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	.access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#container2,
	#header,
	#footer {
		width: 100%;
		margin: 0;
	}
	#content,
	.one-column #content {
		width: 100%;
		margin: 24pt 0 0;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display:none
	}
	#site-generator a {
		padding: 0;
	margin: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display:inline;
	}
	.home .sticky {
		border: none;
	}
}