/**
 * All style compatibility for internet explorer browser
 *
 */
#header {
	z-index:99;
}
.single .hentry {
	margin-bottom:10px;
}
#content .entry-summary p {
	padding:0;
	margin:0;
}
.entry-summary .continue_reading_link {
	margin-top:20px;
}
.comment-info {
	margin-bottom:10px !important;
}
#widget_search .search_button {
	padding:5px;
	width:55px !important;
	text-align:center;
}